<svg width="0" height="0" class="hidden">
  <symbol viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg" id="behance">
    <path d="M8.383 13.55H4.576a.508.508 0 0 0-.498.519v3.199c0 .286.223.518.498.518h3.602c.836-.02 1.834-.394 1.834-2.063 0-1.705-1.022-2.168-1.629-2.172zm-.222 3.2H5.074v-2.163H8.38c.15.002.637.09.637 1.136 0 .853-.276 1.012-.855 1.027zm12.59-4.88c-.399-.417-.948-.629-1.633-.629-1.175 0-2.086.672-2.5 1.844a.535.535 0 0 0 .059.475.492.492 0 0 0 .408.221h3.799a.49.49 0 0 0 .384-.188.533.533 0 0 0 .105-.429c-.07-.366-.233-.887-.622-1.294zm-2.796.875c.29-.31.679-.468 1.163-.468.41 0 .722.109.927.324a.995.995 0 0 1 .115.144h-2.205zM4.576 11.47h3.545c.252 0 .634 0 .95-.319.3-.303.44-.805.44-1.58 0-1.579-1.002-1.669-1.117-1.674H4.576a.508.508 0 0 0-.498.518v2.538c0 .286.223.518.498.518zm.498-2.538h3.273c.058.02.168.194.168.64 0 .677-.125.823-.139.837-.025.026-.17.026-.255.026H5.074V8.932z"
      fill="#343434"></path>
    <path d="M23.5 10.093c-1.038-1.229-2.531-1.852-4.438-1.852-3.314 0-4.895 1.842-5.637 3.387a7.66 7.66 0 0 0-.412 1.056 3.466 3.466 0 0 0-.587-.659c.49-.544.917-1.39.917-2.687 0-1.539-.515-2.816-1.49-3.695-.88-.794-2.082-1.213-3.472-1.213H.885c-.488 0-.885.413-.885.92v14.982c0 .508.397.92.885.92h7.486l.06.001c.36 0 1.626-.05 2.852-.703a4.618 4.618 0 0 0 2.076-2.192c.238.485.531.923.88 1.31 1.125 1.255 2.74 1.893 4.801 1.898.036.002.112.004.219.004.519 0 1.86-.065 3.089-.672 1.677-.828 2.527-2.217 2.527-4.129a.941.941 0 0 0-.138-.493.934.934 0 0 0 .216-.493c.018-.14.412-3.48-1.453-5.69zm.477 5.456h-6.958a.49.49 0 0 0-.372.174.532.532 0 0 0-.123.404c.094.842.47 1.488 1.084 1.868.576.356 1.205.395 1.45.395.049 0 .081-.002.091-.002.892-.001 1.58-.233 1.99-.67.318-.34.402-.657.422-.833h2.317c-.032 1.436-.673 2.443-1.957 3.077-1.047.516-2.21.572-2.662.572a3.982 3.982 0 0 1-.207-.004c-1.779-.002-3.153-.53-4.085-1.568-.572-.637-.968-1.449-1.178-2.413a.503.503 0 0 0-.512-.403.507.507 0 0 0-.469.455c-.162 1.397-.828 2.415-1.978 3.027-1.028.547-2.096.59-2.399.59a1.63 1.63 0 0 1-.054-.001H.997V5.466H8.38c1.147 0 2.123.332 2.82.96.75.676 1.146 1.683 1.146 2.912 0 1.06-.346 1.838-1.028 2.314a.525.525 0 0 0-.22.467c.013.185.12.349.28.43.227.114.433.271.611.468.322.353.56.837.706 1.437a.5.5 0 0 0 .516.389.507.507 0 0 0 .461-.457c.064-.57.227-1.43.643-2.295.617-1.284 1.94-2.814 4.746-2.814 1.608 0 2.849.505 3.69 1.5 1.427 1.69 1.276 4.23 1.225 4.772zm-3.39 1.036a.943.943 0 0 0-.017.188.576.576 0 0 1-.145.222c-.212.227-.678.357-1.28.357a.853.853 0 0 0-.088.002c-.09 0-.556-.012-.94-.25a1.166 1.166 0 0 1-.454-.52h2.924z"
      fill="#343434"></path>
    <path d="M21.905 4.445h-5.944a.877.877 0 0 0-.885.866v1.592c0 .477.397.865.885.865h5.944a.876.876 0 0 0 .885-.865V5.31a.876.876 0 0 0-.885-.866zm-.11 2.287h-5.723v-1.25h5.722v1.25z" fill="#343434"></path>
  </symbol>
  <symbol viewBox="0 0 28 20" fill="none" xmlns="http://www.w3.org/2000/svg" id="burger">
    <path fill="#343434" d="M0 0h28v2H0zm0 9h28v2H0zm0 9h28v2H0z"></path>
  </symbol>
  <symbol viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg" id="facebook">
    <path d="M2.49 17h5.545v-6.043H6.043V8.965h1.992v-2.49a2.493 2.493 0 0 1 2.49-2.49h2.49v1.992h-1.992a.997.997 0 0 0-.996.996v1.992h2.899l-.332 1.992h-2.567V17h4.483A2.493 2.493 0 0 0 17 14.51V2.49A2.493 2.493 0 0 0 14.51 0H2.49A2.493 2.493 0 0 0 0 2.49v12.02A2.493 2.493 0 0 0 2.49 17zM.996 2.49c0-.824.67-1.494 1.494-1.494h12.02c.824 0 1.494.67 1.494 1.494v12.02c0 .824-.67 1.494-1.494 1.494h-3.487v-4.05h2.415l.664-3.985h-3.079v-.996h2.989V2.988h-3.487A3.49 3.49 0 0 0 7.04 6.475v1.494H5.047v3.984h1.992v4.05H2.49c-.824 0-1.494-.67-1.494-1.493V2.49z"
      fill="#343434"></path>
  </symbol>
  <symbol viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg" id="instagram">
    <path d="M13.127 0H4.872C2.186 0 0 2.064 0 4.602v7.796C0 14.936 2.186 17 4.872 17h8.256C15.814 17 18 14.936 18 12.398V4.602C18 2.064 15.814 0 13.127 0zm3.818 12.398c0 1.988-1.713 3.605-3.818 3.605H4.872c-2.104 0-3.817-1.617-3.817-3.605V4.602c0-1.988 1.713-3.605 3.817-3.605h8.256c2.104 0 3.817 1.617 3.817 3.605v7.796z"
      fill="#343434"></path>
    <path d="M9 3.852c-2.714 0-4.922 2.085-4.922 4.648 0 2.563 2.208 4.648 4.922 4.648 2.714 0 4.922-2.085 4.922-4.648 0-2.563-2.208-4.648-4.922-4.648zm0 8.3c-2.132 0-3.867-1.639-3.867-3.652 0-2.014 1.735-3.652 3.867-3.652 2.132 0 3.866 1.638 3.866 3.652 0 2.013-1.734 3.652-3.866 3.652zM14.04 2.2c-.803 0-1.455.617-1.455 1.374 0 .758.652 1.374 1.454 1.374.802 0 1.455-.616 1.455-1.374 0-.757-.653-1.373-1.455-1.373zm0 1.751c-.22 0-.4-.169-.4-.377s.18-.377.4-.377c.22 0 .399.17.399.377 0 .208-.18.377-.4.377z"
      fill="#343434"></path>
  </symbol>
  <symbol viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg" id="landing-page">
    <path d="M43.1 45.797H25.558a1.007 1.007 0 0 1 0-2.014H43.1a1.007 1.007 0 0 1 0 2.014z" fill="#fff"></path>
    <path d="M22.032 45.797a1.008 1.008 0 0 1-.001-2.014h.001a1.008 1.008 0 0 1 0 2.014z" fill="#FF4B44"></path>
    <path d="M40.199 12.082a3.15 3.15 0 0 1-3.147-3.146 3.15 3.15 0 0 1 3.147-3.147 3.15 3.15 0 0 1 3.146 3.147 3.15 3.15 0 0 1-3.146 3.146zm0-4.279a1.134 1.134 0 0 0 0 2.265 1.133 1.133 0 0 0 0-2.265zM19.204 33.87h-4.028c-.556 0-1.007-.45-1.007-1.007v-4.029c0-.555.45-1.007 1.007-1.007h4.028c.557 0 1.007.452 1.007 1.007v4.029c0 .556-.45 1.007-1.007 1.007zm-3.02-2.014h2.013v-2.014h-2.014v2.014zm23.114 2.014H35.27c-.557 0-1.007-.45-1.007-1.007v-4.029c0-.555.45-1.007 1.007-1.007h4.028c.556 0 1.007.452 1.007 1.007v4.029c0 .556-.45 1.007-1.007 1.007zm-3.021-2.014h2.014v-2.014h-2.014v2.014zm-7.058 2.014h-4.028c-.556 0-1.007-.45-1.007-1.007v-4.029c0-.555.45-1.007 1.007-1.007h4.028c.556 0 1.007.452 1.007 1.007v4.029c0 .556-.45 1.007-1.007 1.007zm-3.021-2.014h2.014v-2.014h-2.014v2.014z"
      fill="#fff"></path>
    <path d="M47.144 1.692H7.264c-.556 0-1.007.451-1.007 1.007v49.548c0 .556.451 1.007 1.007 1.007h39.88c.556 0 1.007-.45 1.007-1.007V2.7c0-.556-.45-1.007-1.007-1.007zM46.137 51.24H8.271V37.925h37.866V51.24zm0-15.33H8.271V25.863h37.866V35.91zm-17.14-15.97l3.109 3.88H13.389l9.358-11.683 6.25 7.802zm2.076-.63l3.166-3.954 6.78 8.465h-6.333l-3.613-4.511zm15.064 4.538h-2.516l-8.596-10.732a1.007 1.007 0 0 0-1.572 0l-3.67 4.583-6.25-7.801a1.008 1.008 0 0 0-1.571 0l-11.174 13.95H8.27V3.706h37.866v20.142z"
      fill="#fff"></path>
    <path d="M14.906 49.226a4.64 4.64 0 0 1-4.636-4.633 4.64 4.64 0 0 1 4.636-4.632 4.64 4.64 0 0 1 4.636 4.633 4.64 4.64 0 0 1-4.636 4.632zm0-7.25a2.623 2.623 0 0 0-2.622 2.617 2.623 2.623 0 0 0 5.244 0 2.623 2.623 0 0 0-2.622-2.618z" fill="#fff"></path>
  </symbol>
  <symbol viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" id="mail">
    <path d="M16.193 13.872a.32.32 0 0 1-.22-.088l-3.711-3.48a.322.322 0 1 1 .441-.47l3.711 3.48a.322.322 0 0 1-.22.558zm-12.387 0a.323.323 0 0 1-.221-.557l3.712-3.481a.323.323 0 0 1 .442.47l-3.712 3.48a.32.32 0 0 1-.22.088z" fill="#FF4B44"></path>
    <path d="M18.388 17.109H1.612A1.614 1.614 0 0 1 0 15.497V4.503c0-.89.724-1.612 1.612-1.612h16.776c.888 0 1.612.723 1.612 1.612v10.994c0 .889-.724 1.612-1.612 1.612zM1.612 3.536a.969.969 0 0 0-.967.967v10.994c0 .533.434.967.967.967h16.776a.969.969 0 0 0 .967-.967V4.503a.969.969 0 0 0-.967-.967H1.612z"
      fill="#FF4B44"></path>
    <path d="M10 11.62c-.429 0-.858-.143-1.184-.427L.536 3.969a.323.323 0 0 1-.032-.455.324.324 0 0 1 .455-.03l8.28 7.222c.413.36 1.11.36 1.52 0l8.271-7.211a.323.323 0 0 1 .425.486l-8.27 7.211A1.802 1.802 0 0 1 10 11.62z" fill="#FF4B44"></path>
  </symbol>
  <symbol viewBox="0 0 55 56" fill="none" xmlns="http://www.w3.org/2000/svg" id="megaphone">
    <path d="M38.887 13.783c-.593 0-1.075.49-1.075 1.094 0 .604.482 1.094 1.075 1.094s1.074-.49 1.074-1.094c0-.604-.481-1.094-1.074-1.094z" fill="#FF4B44"></path>
    <path d="M5.371 23.627c-.593 0-1.074.49-1.074 1.094 0 .604.481 1.093 1.074 1.093.593 0 1.074-.49 1.074-1.093 0-.604-.48-1.094-1.074-1.094z" fill="#fff"></path>
    <path d="M50.703 17.44V6.126a4.386 4.386 0 0 0-1.259-3.093 4.23 4.23 0 0 0-3.038-1.282c-2.369 0-4.297 1.963-4.297 4.375v.54c-9.245 6.793-21.086 8.02-21.788 8.21H9.668C4.347 14.877 0 19.26 0 24.721c0 5.1 3.83 9.306 8.714 9.796.563 10.533 2.144 16.347 2.156 16.417.877 3.589 4.974 4.264 7.256 2.02 1.066-1.048 1.463-2.543 1.09-4.106-.19-.915-.98-3.853-1.56-9.908h2.754c.593 0 1.074-.49 1.074-1.094v-3.084c.29.08 11.732 1.478 20.625 8.013v.54c0 2.416 1.923 4.375 4.297 4.375 2.37 0 4.297-1.963 4.297-4.375v-13.5C53.238 28.9 55 26.429 55 23.627c0-2.802-1.762-5.274-4.297-6.188zM16.634 51.38c-1.033 1.015-3.188 1.038-3.68-.975-.016-.102-1.519-5.529-2.085-15.84h4.304c.064 1.143.143 2.274.235 3.376.433 5.122 1.022 8.383 1.701 11.341l.015.066c.253 1.034-.127 1.676-.49 2.032zm2.702-14.628h-1.867a122.43 122.43 0 0 1-.144-2.188h2.01v2.188zm0-4.375H9.668c-4.146 0-7.52-3.435-7.52-7.656 0-4.214 3.349-7.657 7.52-7.657h9.668v15.313zm22.773 7.746c-9.387-6.251-20.108-7.44-20.625-7.579V16.897c.543-.145 11.235-1.325 20.625-7.578v30.804zm6.446 3.192c0 1.206-.964 2.187-2.149 2.187-1.186 0-2.148-.98-2.148-2.188V6.128c0-1.206.964-2.188 2.148-2.188a2.12 2.12 0 0 1 1.52.641c.405.414.629.963.629 1.547v37.188zm2.148-15.9v-7.577a4.407 4.407 0 0 1 2.149 3.789 4.407 4.407 0 0 1-2.149 3.789z"
      fill="#fff"></path>
    <path d="M36.067 16.475a1.068 1.068 0 0 0-1.401-.598c-2.788 1.161-6.897 2.057-10.165 2.707-.582.116-.962.69-.848 1.284a1.08 1.08 0 0 0 1.26.863c3.365-.67 7.606-1.596 10.566-2.83a1.1 1.1 0 0 0 .588-1.426zm-19.954 2.777H9.668c-.593 0-1.074.49-1.074 1.094 0 .604.48 1.093 1.074 1.093h6.445c.594 0 1.075-.49 1.075-1.093 0-.604-.481-1.094-1.075-1.094zm0 4.375H9.668c-.593 0-1.074.49-1.074 1.094 0 .604.48 1.093 1.074 1.093h6.445c.594 0 1.075-.49 1.075-1.093 0-.604-.481-1.094-1.075-1.094zm0 4.375H9.668c-.593 0-1.074.49-1.074 1.094 0 .604.48 1.093 1.074 1.093h6.445c.594 0 1.075-.49 1.075-1.093 0-.604-.481-1.094-1.075-1.094z"
      fill="#fff"></path>
  </symbol>
  <symbol viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" id="phone-call">
    <g clip-path="url(#clip0)">
      <path d="M16.074 20c-.832 0-1.837-.209-2.942-.626-2.423-.913-5.06-2.719-7.423-5.082C3.344 11.926 1.539 9.29.624 6.866c-.83-2.202-.832-4.01-.004-4.838.119-.119.24-.247.365-.379C1.74.855 2.595-.039 3.725.001c.78.033 1.536.517 2.31 1.48 2.285 2.842 1.255 3.855.062 5.03l-.21.209c-.196.195-.564 1.098 2.865 4.528 1.12 1.119 2.074 1.938 2.837 2.434.48.312 1.34.784 1.692.432l.211-.214c1.174-1.19 2.187-2.217 5.028.066.962.774 1.446 1.529 1.478 2.31.047 1.13-.854 1.986-1.65 2.741-.13.125-.258.246-.377.365-.411.412-1.069.618-1.897.618zM3.644.673c-.803 0-1.529.764-2.171 1.44-.13.136-.255.268-.378.39-.617.617-.554 2.236.16 4.127.88 2.336 2.631 4.888 4.93 7.186 2.298 2.298 4.849 4.049 7.185 4.93 1.891.714 3.51.774 4.126.159.123-.123.255-.248.39-.377.691-.656 1.475-1.4 1.44-2.226-.023-.567-.436-1.177-1.227-1.813-2.367-1.904-3.029-1.232-4.127-.118l-.215.217c-.525.526-1.377.41-2.534-.343-.803-.522-1.794-1.37-2.946-2.523-2.846-2.846-3.756-4.587-2.866-5.48l.215-.212c1.116-1.098 1.79-1.76-.115-4.129C4.874 1.111 4.264.698 3.697.673h-.052z"
        fill="#FF4B44"></path>
    </g>
    <defs>
      <clipPath id="clip0">
        <path fill="#fff" d="M0 0h20v20H0z"></path>
      </clipPath>
    </defs>
  </symbol>
  <symbol viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" id="placeholder">
    <path d="M10.066 4.383A2.56 2.56 0 0 0 7.508 6.94a2.56 2.56 0 0 0 2.556 2.556 2.56 2.56 0 0 0 2.557-2.556 2.56 2.56 0 0 0-2.556-2.557zm0 4.383A1.828 1.828 0 0 1 8.239 6.94a1.83 1.83 0 0 1 1.826-1.827c1.008 0 1.827.82 1.827 1.827 0 1.007-.82 1.826-1.826 1.826z"
      fill="#FF4B44"></path>
    <path d="M14.953 2.052A6.958 6.958 0 0 0 10.001 0a6.956 6.956 0 0 0-4.953 2.052C2.6 4.5 2.295 9.105 4.389 11.896L10.001 20l5.603-8.093c2.102-2.802 1.798-7.407-.65-9.855zm.059 9.428L10 18.716 4.98 11.47c-1.898-2.532-1.626-6.692.584-8.9A6.232 6.232 0 0 1 10 .73c1.675 0 3.25.652 4.436 1.837 2.21 2.21 2.482 6.369.575 8.912z"
      fill="#FF4B44"></path>
  </symbol>
  <symbol viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg" id="presentation">
    <path d="M7.734 14.18h14.019a1.074 1.074 0 1 0 0-2.149H7.734a1.074 1.074 0 1 0 0 2.149zm0 6.015h5.641a1.074 1.074 0 1 0 0-2.148h-5.64a1.074 1.074 0 1 0 0 2.148zm23.58 10.965c0 .593.48 1.074 1.074 1.074h14.878a1.074 1.074 0 1 0 0-2.149H32.388c-.594 0-1.074.482-1.074 1.074zm15.952 4.94H32.388a1.074 1.074 0 0 0 0 2.15h14.878a1.074 1.074 0 1 0 0-2.15zm-6.876-8.17c4.384 0 7.95-3.566 7.95-7.95 0-4.383-3.566-7.949-7.95-7.949-4.383 0-7.949 3.566-7.949 7.95 0 4.383 3.566 7.949 7.95 7.949zm4.79-4.68l-2.196-2.195h3.106a5.77 5.77 0 0 1-.91 2.195zm.91-4.344h-4.625v-4.625a5.816 5.816 0 0 1 4.625 4.625zm-6.774-4.625v5.7c0 .296.12.565.315.759l4.029 4.03a5.768 5.768 0 0 1-3.27 1.011 5.808 5.808 0 0 1-5.8-5.8 5.81 5.81 0 0 1 4.726-5.7zM25.137 18.96h-5.801c-.593 0-1.074.481-1.074 1.074v3.926h-4.727c-.593 0-1.074.48-1.074 1.074v5.274H7.734c-.593 0-1.074.48-1.074 1.074v5.793c0 .593.481 1.074 1.074 1.074h17.403c.593 0 1.074-.48 1.074-1.074v-17.14c0-.594-.48-1.075-1.074-1.075zM8.809 32.456h3.652v3.645H8.809v-3.645zm5.8-1.074v-5.274h3.653v9.993h-3.653v-4.72zm9.454 4.719H20.41V21.108h3.652v14.993z"
      fill="#fff"></path>
    <path d="M53.926 0H1.074C.481 0 0 .48 0 1.074V7.09c0 .593.48 1.074 1.074 1.074h.43V40.82a3.226 3.226 0 0 0 3.223 3.223h21.699v2.668a4.221 4.221 0 0 0-3.14 4.075A4.219 4.219 0 0 0 27.5 55a4.219 4.219 0 0 0 4.214-4.214 4.221 4.221 0 0 0-3.14-4.075v-2.668h21.7a3.226 3.226 0 0 0 3.222-3.223V8.164h.43c.593 0 1.074-.48 1.074-1.074V1.074C55 .481 54.52 0 53.926 0zm-24.36 50.786a2.068 2.068 0 0 1-2.066 2.066 2.068 2.068 0 0 1-2.065-2.066c0-1.14.926-2.066 2.065-2.066 1.139 0 2.065.927 2.065 2.066zm21.782-9.966c0 .593-.482 1.075-1.075 1.075H4.727a1.075 1.075 0 0 1-1.075-1.075V8.164h19.551a1.074 1.074 0 1 0 0-2.148H2.148V2.148h50.704v3.868H31.797a1.074 1.074 0 1 0 0 2.148h19.55V40.82z"
      fill="#fff"></path>
    <path d="M27.5 6.016c-.282 0-.56.115-.76.314-.2.2-.314.477-.314.76 0 .282.115.56.315.76.2.2.477.314.759.314.282 0 .56-.115.76-.315.2-.2.314-.477.314-.76 0-.282-.115-.559-.315-.759a1.08 1.08 0 0 0-.759-.314z" fill="#FF4B44"></path>
  </symbol>
  <symbol viewBox="0 0 55 56" fill="none" xmlns="http://www.w3.org/2000/svg" id="shopping-basket">
    <path d="M27.5 27.999c.593 0 1.074-.49 1.074-1.094 0-.604-.481-1.094-1.074-1.094-.593 0-1.074.49-1.074 1.094 0 .604.481 1.094 1.074 1.094z" fill="#FF4B44"></path>
    <path d="M50.703 19.249H44.35L34.578 5.56a3.196 3.196 0 0 0-4.347-1.21c-1.557.88-2.116 2.876-1.251 4.462.025.045.052.088.083.129l7.664 10.308H18.273L25.937 8.94a1.15 1.15 0 0 0 .083-.13c.863-1.58.31-3.579-1.253-4.463-1.532-.864-3.466-.32-4.345 1.211l-9.773 13.69H4.297C1.927 19.249 0 21.21 0 23.624c0 1.902 1.213 3.559 2.921 4.145.182.143.41.23.657.23a1.08 1.08 0 0 1 1.057.898l3.655 20.47c.279 1.561 1.613 2.694 3.171 2.694h32.078c1.558 0 2.892-1.133 3.171-2.694l3.654-20.47a1.08 1.08 0 0 1 1.058-.898c.25 0 .478-.087.66-.233 1.71-.59 2.918-2.243 2.918-4.142 0-2.413-1.928-4.375-4.297-4.375zM30.829 7.692a1.103 1.103 0 0 1 .444-1.43 1.066 1.066 0 0 1 1.462.422c.021.04.045.077.07.113l8.89 12.452h-2.273L30.829 7.692zm-8.635-.895a.986.986 0 0 0 .07-.111 1.067 1.067 0 0 1 1.462-.424c.5.283.691.912.445 1.43L15.578 19.25h-2.272l8.888-12.452zm28.509 19.014H31.797c-.594 0-1.074.49-1.074 1.094 0 .604.48 1.083 1.074 1.083h16.585c-.056.163-.1.332-.131.506l-3.655 20.482a1.08 1.08 0 0 1-1.057.898H11.46a1.08 1.08 0 0 1-1.058-.898L6.75 28.505a3.347 3.347 0 0 0-.132-.506h16.586c.593 0 1.074-.49 1.074-1.094 0-.604-.48-1.094-1.074-1.094H4.297c-1.195 0-2.149-.991-2.149-2.187 0-1.206.964-2.188 2.149-2.188h46.406c1.185 0 2.148.982 2.148 2.188 0 1.214-.976 2.187-2.148 2.187z"
      fill="#fff"></path>
    <path d="M27.5 31.28c-1.777 0-3.223 1.472-3.223 3.281v8.75c0 1.81 1.446 3.282 3.223 3.282s3.223-1.472 3.223-3.282v-8.75c0-1.813-1.443-3.281-3.223-3.281zm1.074 12.031c0 .604-.482 1.094-1.074 1.094-.593 0-1.074-.49-1.074-1.094v-8.75c0-.603.482-1.093 1.074-1.093.593 0 1.074.49 1.074 1.093v8.75zm9.668 3.282c1.777 0 3.223-1.472 3.223-3.282v-8.75c0-1.813-1.442-3.281-3.223-3.281-1.777 0-3.222 1.472-3.222 3.281v8.75c0 1.81 1.445 3.282 3.222 3.282zM37.168 34.56c0-.603.482-1.093 1.074-1.093.593 0 1.074.49 1.074 1.093v8.75c0 .604-.481 1.094-1.074 1.094-.592 0-1.074-.49-1.074-1.094v-8.75zm-20.41-3.28c-1.777 0-3.223 1.472-3.223 3.281v8.75c0 1.81 1.446 3.282 3.223 3.282s3.223-1.472 3.223-3.282v-8.75c0-1.813-1.443-3.281-3.223-3.281zm1.074 12.031c0 .604-.482 1.094-1.074 1.094-.593 0-1.074-.49-1.074-1.094v-8.75c0-.603.481-1.093 1.074-1.093.593 0 1.074.49 1.074 1.093v8.75z"
      fill="#fff"></path>
  </symbol>
  <symbol viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg" id="target">
    <g clip-path="url(#clip0)">
      <path d="M34.222 15.682a1.09 1.09 0 0 0 1.547 0 1.094 1.094 0 0 0 0-1.546l-.015-.015a1.094 1.094 0 0 0-1.547 1.547l.015.014z" fill="#FF4B44"></path>
      <path d="M51.867 26.031l3.813-3.812a1.094 1.094 0 0 0-.774-1.867h-7.902a23.76 23.76 0 0 0-6.3-11.18 23.687 23.687 0 0 0-16.86-6.985 23.687 23.687 0 0 0-16.86 6.984A23.687 23.687 0 0 0 0 26.031c0 6.37 2.48 12.357 6.984 16.86a24.015 24.015 0 0 0 4.383 3.468L8.072 52.18a1.094 1.094 0 0 0 .951 1.633h5.633c.394 0 .758-.213.952-.556l2.33-4.116c1.907.484 3.887.734 5.906.734 2.018 0 3.998-.25 5.905-.734l2.33 4.117c.194.342.558.554.952.554h5.633a1.094 1.094 0 0 0 .952-1.632l-3.295-5.821a24.02 24.02 0 0 0 4.383-3.468 23.763 23.763 0 0 0 6.3-11.18h7.902a1.094 1.094 0 0 0 .774-1.867l-3.813-3.813zm-2-1.093h-7.633l2.398-2.399h7.634l-2.398 2.398zM14.019 51.624H10.9l2.381-4.206c.817.405 1.656.762 2.514 1.07l-1.776 3.136zm22.77 0H33.67l-1.775-3.137a23.502 23.502 0 0 0 2.514-1.069l2.38 4.206zm2.369-10.28a21.752 21.752 0 0 1-4.796 3.627c-.021.01-.043.02-.064.032-.013.007-.025.016-.038.024a21.372 21.372 0 0 1-4.194 1.756 1.075 1.075 0 0 0-.17.05 21.745 21.745 0 0 1-6.051.853 21.78 21.78 0 0 1-6.052-.853 1.086 1.086 0 0 0-.17-.05 21.372 21.372 0 0 1-4.194-1.756c-.012-.008-.024-.017-.038-.024-.02-.012-.042-.022-.064-.032a21.748 21.748 0 0 1-4.795-3.628A21.514 21.514 0 0 1 2.188 26.03 21.514 21.514 0 0 1 8.53 10.718a21.514 21.514 0 0 1 15.314-6.343 21.514 21.514 0 0 1 15.313 6.343 21.582 21.582 0 0 1 5.589 9.634h-.567c-.29 0-.568.115-.773.32l-2.903 2.903a16.852 16.852 0 0 0-1.906-5.68 1.094 1.094 0 0 0-1.916 1.057 14.525 14.525 0 0 1 1.767 5.986h-4.822a9.768 9.768 0 0 0-2.822-5.867 9.78 9.78 0 0 0-6.96-2.884 9.78 9.78 0 0 0-6.96 2.884A9.78 9.78 0 0 0 14 26.03a9.78 9.78 0 0 0 2.883 6.96 9.78 9.78 0 0 0 6.96 2.884 9.78 9.78 0 0 0 6.961-2.883 9.768 9.768 0 0 0 2.822-5.867h4.818a14.676 14.676 0 0 1-4.237 9.27 14.56 14.56 0 0 1-10.363 4.292 14.56 14.56 0 0 1-10.364-4.292A14.56 14.56 0 0 1 9.187 26.03a14.56 14.56 0 0 1 4.293-10.363c4.592-4.592 11.765-5.61 17.443-2.474a1.094 1.094 0 0 0 1.058-1.916 16.965 16.965 0 0 0-10.388-1.94 16.69 16.69 0 0 0-9.66 4.783A16.733 16.733 0 0 0 7 26.031c0 4.5 1.752 8.73 4.933 11.91a16.734 16.734 0 0 0 11.91 4.934c4.5 0 8.73-1.752 11.911-4.933a16.686 16.686 0 0 0 4.753-9.45l2.899 2.898c.205.206.483.32.773.32h.566a21.585 21.585 0 0 1-5.588 9.634zM27.416 23.968a1.093 1.093 0 0 0-1.494-.4l-2.625 1.515a1.094 1.094 0 0 0 0 1.894l2.625 1.516a1.093 1.093 0 0 0 1.555-1.369h3.945a7.598 7.598 0 0 1-2.165 4.32 7.606 7.606 0 0 1-5.413 2.242 7.606 7.606 0 0 1-5.414-2.242 7.606 7.606 0 0 1-2.242-5.414c0-2.045.796-3.967 2.242-5.414a7.606 7.606 0 0 1 5.414-2.242c2.045 0 3.967.796 5.414 2.242a7.598 7.598 0 0 1 2.164 4.32h-3.945a1.09 1.09 0 0 0-.061-.968zm17.216 5.554l-2.398-2.398h7.633l2.399 2.398h-7.634z"
        fill="#fff"></path>
    </g>
    <defs>
      <clipPath id="clip0">
        <path fill="#fff" d="M0 0h56v56H0z"></path>
      </clipPath>
    </defs>
  </symbol>
  <symbol viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg" id="technical-support">
    <g clip-path="url(#clip0)">
      <path d="M9.85 43.307c-.785 0-1.538.196-2.207.563A25.86 25.86 0 0 1 2.188 28C2.188 13.767 13.767 2.187 28 2.187c1.73 0 3.46.173 5.14.512a1.094 1.094 0 0 0 .434-2.144A28.207 28.207 0 0 0 28 0C20.521 0 13.49 2.913 8.201 8.201 2.913 13.489 0 20.521 0 28c0 6.291 2.136 12.43 6.025 17.353-.5.748-.77 1.627-.77 2.548 0 1.227.479 2.38 1.346 3.248a4.562 4.562 0 0 0 3.248 1.345 4.57 4.57 0 0 0 3.249-1.345 4.563 4.563 0 0 0 1.345-3.249c0-1.226-.478-2.38-1.345-3.248a4.564 4.564 0 0 0-3.249-1.345zm1.7 6.295a2.39 2.39 0 0 1-1.7.705 2.39 2.39 0 0 1-1.702-.705 2.39 2.39 0 0 1-.705-1.701c0-.643.25-1.247.705-1.702a2.39 2.39 0 0 1 1.701-.705c.643 0 1.247.25 1.702.705a2.39 2.39 0 0 1 .705 1.702 2.39 2.39 0 0 1-.705 1.701zm38.424-38.956a4.602 4.602 0 0 0-.575-5.795 4.565 4.565 0 0 0-3.248-1.345 4.567 4.567 0 0 0-3.249 1.345 4.563 4.563 0 0 0-1.345 3.248c0 1.227.477 2.381 1.345 3.249a4.563 4.563 0 0 0 3.248 1.345c.785 0 1.538-.196 2.207-.563A25.86 25.86 0 0 1 53.812 28c0 14.233-11.579 25.813-25.812 25.813-1.713 0-3.427-.17-5.092-.503a1.095 1.095 0 0 0-.43 2.146c1.807.36 3.665.544 5.522.544 7.479 0 14.51-2.913 19.799-8.2 5.288-5.29 8.2-12.321 8.2-19.8a28.053 28.053 0 0 0-6.026-17.354zm-5.525-.845a2.39 2.39 0 0 1-.705-1.702c0-.642.25-1.246.705-1.7a2.39 2.39 0 0 1 1.702-.706c.642 0 1.247.25 1.701.705a2.41 2.41 0 0 1 0 3.403 2.393 2.393 0 0 1-1.701.705 2.39 2.39 0 0 1-1.702-.705z"
        fill="#fff"></path>
      <path d="M23.486 46.813c0 .604.49 1.093 1.094 1.093h6.839c.604 0 1.094-.49 1.094-1.093v-2.12a17.13 17.13 0 0 0 4.105-1.702l1.497 1.497a1.094 1.094 0 0 0 1.547 0l4.834-4.838a1.094 1.094 0 0 0 0-1.547L43 36.608a17.131 17.131 0 0 0 1.702-4.105h2.112c.604 0 1.094-.49 1.094-1.094v-6.838c0-.605-.49-1.094-1.094-1.094h-2.113a17.135 17.135 0 0 0-1.7-4.105l1.487-1.487a1.094 1.094 0 0 0 0-1.548l-4.838-4.833a1.094 1.094 0 0 0-1.547 0l-1.485 1.486a17.127 17.127 0 0 0-4.105-1.702v-2.1c0-.605-.49-1.094-1.094-1.094H24.58c-.604 0-1.094.49-1.094 1.094v2.1a17.113 17.113 0 0 0-4.104 1.702l-1.486-1.486a1.094 1.094 0 0 0-1.546 0l-4.838 4.834a1.092 1.092 0 0 0 0 1.547l1.487 1.487a17.123 17.123 0 0 0-1.701 4.105H9.189c-.604 0-1.093.49-1.093 1.093l-.004 6.839a1.092 1.092 0 0 0 1.094 1.094h2.112a17.127 17.127 0 0 0 1.701 4.105l-1.495 1.495a1.094 1.094 0 0 0 0 1.547l4.834 4.837a1.094 1.094 0 0 0 1.547 0l1.496-1.496a17.147 17.147 0 0 0 4.105 1.701v2.12zM19.81 40.69a1.094 1.094 0 0 0-1.367.146l-1.332 1.331-3.287-3.29 1.33-1.33c.365-.365.425-.935.145-1.367a14.97 14.97 0 0 1-2.071-5 1.094 1.094 0 0 0-1.07-.864H10.28l.002-4.652h1.876c.516 0 .961-.36 1.07-.864a14.973 14.973 0 0 1 2.071-5c.28-.432.22-1.002-.145-1.366l-1.322-1.322 3.29-3.288 1.321 1.321c.365.364.934.425 1.367.145a14.963 14.963 0 0 1 5-2.071c.504-.109.864-.555.864-1.07v-1.868h4.651v1.868c0 .515.36.961.864 1.07a14.978 14.978 0 0 1 5 2.07c.433.28 1.002.22 1.367-.144l1.32-1.321 3.29 3.288-1.321 1.322A1.094 1.094 0 0 0 40.7 19.8a14.982 14.982 0 0 1 2.071 5c.108.504.554.863 1.07.863h1.88v4.652h-1.88c-.516 0-.961.36-1.07.864a14.969 14.969 0 0 1-2.071 5c-.28.432-.22 1.002.145 1.366l1.33 1.33-3.287 3.291-1.332-1.331a1.093 1.093 0 0 0-1.367-.145 14.982 14.982 0 0 1-5 2.071 1.094 1.094 0 0 0-.864 1.07v1.887h-4.651v-1.887c0-.516-.36-.961-.864-1.07a14.973 14.973 0 0 1-5-2.072z"
        fill="#fff"></path>
      <path d="M37.038 28c0-4.983-4.054-9.038-9.038-9.038-4.983 0-9.037 4.055-9.037 9.038 0 4.983 4.054 9.038 9.037 9.038 4.984 0 9.038-4.055 9.038-9.038zM21.15 28A6.858 6.858 0 0 1 28 21.15 6.858 6.858 0 0 1 34.85 28 6.858 6.858 0 0 1 28 34.85 6.858 6.858 0 0 1 21.15 28z"
        fill="#fff"></path>
      <path d="M38.071 4.137c.288 0 .57-.118.774-.32.203-.206.32-.488.32-.776 0-.286-.117-.568-.32-.773a1.102 1.102 0 0 0-.774-.32 1.1 1.1 0 0 0-.773.32c-.203.205-.32.486-.32.774 0 .288.117.57.32.774a1.1 1.1 0 0 0 .773.32zM17.977 51.883c-.288 0-.57.117-.774.32-.203.204-.32.486-.32.774 0 .289.117.57.32.773.204.203.486.32.774.32.287 0 .57-.117.773-.32.203-.203.32-.486.32-.773 0-.288-.117-.57-.32-.773a1.102 1.102 0 0 0-.773-.32z"
        fill="#FF4B44"></path>
    </g>
    <defs>
      <clipPath id="clip0">
        <path fill="#fff" d="M0 0h56v56H0z"></path>
      </clipPath>
    </defs>
  </symbol>
  <symbol viewBox="0 0 55 56" fill="none" xmlns="http://www.w3.org/2000/svg" id="type">
    <path d="M7.95 9.188c.593 0 1.073-.49 1.073-1.094V5.809h29.434c.593 0 1.074-.49 1.074-1.093 0-.605-.48-1.094-1.074-1.094H9.023V1.094C9.023.49 8.543 0 7.95 0H1.074C.481 0 0 .49 0 1.094v7c0 .604.48 1.094 1.074 1.094h2.571v37.624h-2.57c-.594 0-1.075.49-1.075 1.094v7C0 55.51.48 56 1.074 56H7.95c.594 0 1.074-.49 1.074-1.094v-7c0-.604-.48-1.093-1.074-1.093H5.794V9.187h2.155zM6.874 53.812H2.148V49h4.727v4.813zM2.148 2.188h4.727V7H2.148V2.187zm51.778 7c.593 0 1.074-.49 1.074-1.094v-7C55 .49 54.52 0 53.926 0H47.05c-.594 0-1.074.49-1.074 1.094v7c0 .604.48 1.094 1.074 1.094h2.451v37.624H47.05c-.594 0-1.074.49-1.074 1.094v2.407H16.543c-.593 0-1.074.49-1.074 1.093 0 .604.48 1.094 1.074 1.094h29.434v2.406c0 .604.48 1.094 1.074 1.094h6.875c.593 0 1.074-.49 1.074-1.094v-7c0-.604-.48-1.093-1.074-1.093H51.65V9.187h2.275zm-1.074 44.624h-4.727V49h4.727v4.813zM48.125 2.188h4.727V7h-4.727V2.187z"
      fill="#fff"></path>
    <path d="M42.754 5.809c.282 0 .56-.116.76-.32a1.112 1.112 0 0 0 0-1.547c-.2-.204-.478-.32-.76-.32-.282 0-.56.116-.76.32a1.11 1.11 0 0 0 0 1.547c.2.204.477.32.76.32z" fill="#FF4B44"></path>
    <path d="M15.476 21.42c.593 0 1.074-.49 1.074-1.094v-2.267h6.882v20.879h-5.42c-.593 0-1.074.49-1.074 1.093v5.25c0 .604.481 1.094 1.075 1.094h18.975c.593 0 1.074-.49 1.074-1.094v-5.25c0-.604-.481-1.093-1.074-1.093h-5.392V18.059h6.852v2.267c0 .604.481 1.094 1.075 1.094h4.296c.594 0 1.075-.49 1.075-1.094V10.84c0-.604-.481-1.094-1.075-1.094H11.18c-.594 0-1.075.49-1.075 1.094v9.485c0 .604.481 1.094 1.075 1.094h4.297zm-3.223-9.486h30.492v7.298h-2.148v-2.266c0-.605-.482-1.094-1.074-1.094h-9.001c-.594 0-1.074.49-1.074 1.094V40.03c0 .604.48 1.094 1.074 1.094h5.391v3.063H19.087v-3.063h5.42c.592 0 1.073-.49 1.073-1.094V16.966c0-.605-.48-1.094-1.074-1.094h-9.03c-.594 0-1.075.49-1.075 1.094v2.266h-2.148v-7.298z"
      fill="#fff"></path>
    <path d="M12.246 50.313c-.282 0-.56.117-.76.32a1.11 1.11 0 0 0 .001 1.547c.2.203.477.32.76.32.281 0 .559-.117.759-.32a1.113 1.113 0 0 0 0-1.547c-.2-.203-.478-.32-.76-.32z" fill="#FF4B44"></path>
  </symbol>
  <symbol viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg" id="vk">
    <g clip-path="url(#clip0)">
      <path d="M24.845 16.39c-.566-.65-1.205-1.233-1.823-1.796a60.3 60.3 0 0 1-.658-.605c-.291-.273-.433-.467-.448-.61-.015-.14.085-.349.315-.657.344-.464.71-.929 1.064-1.378.315-.4.641-.813.953-1.228l.07-.093c.61-.811 1.24-1.65 1.577-2.67.096-.294.196-.727-.045-1.107-.242-.381-.69-.494-1.005-.545a2.635 2.635 0 0 0-.436-.028l-3.951-.003c-.683-.011-1.157.3-1.416.925-.206.5-.45 1.078-.733 1.627-.541 1.06-1.229 2.28-2.225 3.297l-.045.046c-.068.07-.178.183-.235.21-.108-.066-.233-.439-.227-.634v-.015l-.003-4.39a.481.481 0 0 0-.005-.066c-.089-.627-.262-1.255-1.292-1.45a.536.536 0 0 0-.1-.01h-4.11c-.774 0-1.183.34-1.51.71-.096.108-.348.393-.22.743.13.353.518.424.645.447.448.082.68.325.751.79.142.905.16 1.872.055 3.043-.03.314-.083.553-.17.752a.567.567 0 0 1-.06.11.606.606 0 0 1-.112-.061c-.315-.207-.552-.53-.782-.84-.916-1.244-1.686-2.618-2.356-4.2-.276-.65-.794-1.012-1.458-1.02-1.266-.021-2.437-.02-3.578 0-.539.01-.916.173-1.122.485-.207.313-.2.712.022 1.186 1.584 3.388 3.023 5.852 4.664 7.99 1.156 1.506 2.319 2.55 3.66 3.289 1.41.776 3.001 1.156 4.846 1.156.21 0 .423-.005.64-.015 1.138-.05 1.6-.485 1.651-1.551.028-.564.094-1.02.32-1.416.063-.111.134-.186.19-.2.06-.014.167.021.285.095.215.135.401.317.554.478.155.163.31.331.462.494.322.346.655.705 1.005 1.046.789.774 1.699 1.129 2.705 1.055l3.616.001.035-.001c.417-.027.777-.249.989-.61.255-.433.251-.983-.01-1.47-.274-.508-.628-.944-.94-1.305zm.047 2.287c-.05.085-.111.1-.143.104l-3.615-.002-.043.002c-.713.057-1.318-.183-1.903-.757a30.33 30.33 0 0 1-.971-1.013 69.044 69.044 0 0 0-.47-.502 3.895 3.895 0 0 0-.755-.641c-.47-.293-.858-.284-1.101-.225-.241.058-.584.225-.846.686-.34.597-.416 1.24-.446 1.848-.018.372-.084.47-.11.495-.037.033-.156.09-.555.108-1.919.087-3.529-.244-4.923-1.01-1.212-.668-2.274-1.626-3.342-3.016-1.595-2.08-3-4.487-4.552-7.807a.821.821 0 0 1-.079-.235.918.918 0 0 1 .253-.032c1.13-.02 2.288-.021 3.543-.001.171.002.367.052.515.4.7 1.654 1.507 3.093 2.47 4.4.256.347.574.78 1.042 1.087.428.282.776.268.992.207.216-.06.517-.23.719-.69.13-.297.209-.631.248-1.053.112-1.253.092-2.294-.062-3.277-.109-.703-.487-1.212-1.082-1.471a.837.837 0 0 1 .39-.075h4.057c.228.049.273.107.289.126.065.084.103.283.126.438l.003 4.35c-.009.417.202 1.341.92 1.595a.62.62 0 0 0 .017.006c.653.205 1.086-.238 1.318-.476l.04-.043c1.093-1.114 1.828-2.415 2.402-3.54.3-.581.553-1.182.767-1.7.107-.26.205-.302.438-.297h.01l3.955.003a1.8 1.8 0 0 1 .263.013.88.88 0 0 1 .292.084.77.77 0 0 1-.055.286c-.287.868-.842 1.606-1.429 2.387l-.07.094c-.305.406-.627.814-.939 1.21-.359.454-.73.925-1.082 1.4-.752 1.009-.686 1.679.253 2.56.222.207.45.415.67.615.623.568 1.212 1.104 1.738 1.71.275.32.587.702.814 1.125.12.22.09.42.029.524z"
        fill="#343434"></path>
    </g>
    <defs>
      <clipPath id="clip0">
        <path fill="#fff" d="M0 0h26v25H0z"></path>
      </clipPath>
    </defs>
  </symbol>
  <symbol viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg" id="web-site">
    <path d="M20.781 7.188h20.344a1.095 1.095 0 0 0 0-2.192H20.781c-.604 0-1.093.49-1.093 1.096 0 .605.49 1.096 1.093 1.096z" fill="#fff"></path>
    <path d="M14.17 6.51a1.1 1.1 0 0 0 .592.594 1.13 1.13 0 0 0 .418.084 1.104 1.104 0 0 0 .91-.488 1.1 1.1 0 0 0-.49-1.62 1.116 1.116 0 0 0-.633-.063 1.095 1.095 0 0 0-.796 1.494z" fill="#FF4B44"></path>
    <path d="M4.729 13.578a1.098 1.098 0 0 0 1.214 0 1.1 1.1 0 0 0 0-1.822 1.12 1.12 0 0 0-.393-.163 1.073 1.073 0 0 0-.632.062 1.079 1.079 0 0 0-.49.404 1.108 1.108 0 0 0-.186.609 1.104 1.104 0 0 0 .487.91zm21.079 1.848a1.11 1.11 0 0 0-.592-.593 1.103 1.103 0 0 0-.837 0 1.17 1.17 0 0 0-.189.1 1.036 1.036 0 0 0-.302.303 1.11 1.11 0 0 0-.185.61 1.097 1.097 0 0 0 1.308 1.074 1.127 1.127 0 0 0 .393-.164 1.04 1.04 0 0 0 .303-.302 1.103 1.103 0 0 0 .1-1.028zM28 16.941c.288 0 .57-.117.773-.32a1.106 1.106 0 0 0 .299-.99 1.153 1.153 0 0 0-.163-.394 1.1 1.1 0 0 0-1.516-.304 1.118 1.118 0 0 0-.404.493 1.112 1.112 0 0 0 .102 1.028 1.09 1.09 0 0 0 .909.487zm2.192-.677a1.103 1.103 0 0 0 .403.492 1.104 1.104 0 0 0 .608.185 1.096 1.096 0 1 0-.42-2.108 1.11 1.11 0 0 0-.591.593 1.113 1.113 0 0 0-.062.633c.014.07.034.14.062.205zM40.469 43.36H28.437c-.604 0-1.093.49-1.093 1.096 0 .605.49 1.096 1.093 1.096H40.47a1.095 1.095 0 0 0 0-2.192zm0 4.384H28.437a1.095 1.095 0 1 0 0 2.191H40.47a1.095 1.095 0 0 0 0-2.191zM19.14 43.36a3.288 3.288 0 0 0 0 6.575 3.288 3.288 0 0 0 0-6.575zm0 4.384a1.096 1.096 0 0 1 0-2.192 1.096 1.096 0 0 1 0 2.192zm-4.921-19.727h4.375a1.095 1.095 0 0 0 0-2.191h-4.375a1.095 1.095 0 1 0 0 2.192zm0 4.375h8.75c.604 0 1.093-.49 1.093-1.096 0-.605-.49-1.096-1.093-1.096h-8.75a1.095 1.095 0 0 0 0 2.192zm7.656 3.297c0-.606-.49-1.096-1.094-1.096H14.22a1.095 1.095 0 1 0 0 2.192h6.562c.604 0 1.094-.491 1.094-1.096z"
      fill="#fff"></path>
    <path d="M53.594 8.274h-7V4.109a2.41 2.41 0 0 0-2.407-2.41H11.813a2.411 2.411 0 0 0-2.407 2.41v4.165h-7A2.411 2.411 0 0 0 0 10.684v36.84c0 1.33 1.08 2.411 2.406 2.411h7v1.973c0 1.329 1.08 2.41 2.406 2.41h32.376a2.411 2.411 0 0 0 2.406-2.41v-1.973h7A2.411 2.411 0 0 0 56 47.525v-36.84c0-1.33-1.08-2.411-2.406-2.411zm.218 2.41v4.165h-7.218v-1.086h3.937a1.095 1.095 0 0 0 0-2.192h-3.937v-1.105h7c.118 0 .218.1.218.219zm-42.218-.218h32.812v10.976H11.594V10.466zm32.812 14.316v12.652l-6.232-6.247 6.232-6.405zm-7.779 4.854l-5.988-6.002h11.83l-5.842 6.002zm-1.527 1.57l-6.006 6.172V25.184l6.006 6.022zm1.547 1.55l6.214 6.23H30.585l6.062-6.23zM11.813 3.89h32.374c.12 0 .22.1.22.22v4.164H11.593V4.109c0-.119.1-.219.219-.219zm-9.407 6.576h7v4.383H2.187v-4.164c0-.12.1-.22.22-.22zm0 37.277a.222.222 0 0 1-.219-.219V17.041h7.22v30.702h-7zm42 4.165c0 .118-.1.219-.218.219H11.812a.222.222 0 0 1-.218-.22v-10.73h2.36a1.095 1.095 0 0 0 0-2.192h-2.36V23.634h15.312v15.351h-4.203c-.604 0-1.093.49-1.093 1.096 0 .605.49 1.096 1.093 1.096h21.703v10.73zm9.188-4.165h-7V17.041h7.218v30.483c0 .119-.1.22-.218.22z"
      fill="#fff"></path>
    <path d="M18.71 39.051a1.081 1.081 0 0 0-1.025.101 1.103 1.103 0 0 0-.465 1.125c.013.07.035.14.062.205a1.039 1.039 0 0 0 .402.492 1.072 1.072 0 0 0 .394.164 1.086 1.086 0 0 0 1.223-.656 1.09 1.09 0 0 0 .084-.419 1.105 1.105 0 0 0-.676-1.012z"
      fill="#fff"></path>
  </symbol>
</svg>