$styles: (
    '.text--center': (
        text-align: center,
    ),
    '.text--left': (
        text-align: left,
    ),
    '.text--right': (
        text-align: right,
    ),
    '.text--initial': (
        text-align: initial,
    ),
    '.text--inherit': (
        text-align: inherit,
    ),
    '.text--uppercase': (
        text-transform: uppercase
    ),
    '.text--secondary': (
        color: theme_text_color('secondary')
    ),
    '.text--accent': (
        color: theme_text_color('accent')
    ),
    '.text--error': (
        color: theme_text_color('error')
    ),
    '.text--underline': (
        text-decoration: underline
    ),
    '.text-icon': (
        line-height: 1,
        display: inline-block,
        vertical-align: middle
    )
);

@include generate_styles( $styles );
