<section class="s-about">
  <div class="container">
    <div class="row">
      <ul class="s-about__darts-list">
        <li class="max-768"><img src="~images/darts.png" alt=""></li>
        <li class="min-768"><img src="~images/darts.png" alt=""></li>
      </ul>
      <div class="col-12 col-md-6">
        <div class="s-about__title-wrap">
          <h2 class="h2">О нас</h2>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="s-about__content-wrap">
          <p>Digital-агенство AYEP’s успешно работает с 2009 года. 10 лет <br>мы разрабатываем эффективные web-проекты,
            которые помогают <br>нашим клиентам достигать бизнес-целей. </p>
          <p>Для снижения издержек, и чтобы предлагать клиентам лучший сервис <br>по адекватной цене, наши отделы продаж
            и работе с клиентами <br>располагаются в мегаполисах, а производственные отделы - <br>в небольших городах.
          </p>
          <div class="s-about__button-wrap">
            <a href="" class="button button-about">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>