<section class="s-execution">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 s-execution__title-wrap">
        <h2 class="h2">Выполнили <span>100+</span> <br>успешных проектов для</h2>
      </div>
      <div class="col-12 col-md-6">
        <ul class="s-execution__logo-block">
          <li class="s-execution__logo-item">
            <a href="" class="s-execution__logo-link"><img src="~images/logo/rzd.png" alt=""></a>
          </li>
          <li class="s-execution__logo-item">
            <a href="" class="s-execution__logo-link"><img src="~images/logo/vtb.png" alt=""></a>
          </li>
          <li class="s-execution__logo-item">
            <a href="" class="s-execution__logo-link"><img src="~images/logo/bibank.png" alt=""></a>
          </li>
          <li class="s-execution__logo-item">
            <a href="" class="s-execution__logo-link"><img src="~images/logo/bayer.png" alt=""></a>
          </li>
          <li class="s-execution__button-item"><span></span></li>
          <li class="s-execution__border-bg"></li>
        </ul>
      </div>
    </div>
  </div>
</section>