<section class="s-hero swiper-container js-hero-slider">
  <div class="swiper-wrapper">
    <div class="swiper-slide s-hero__slide s-hero__slide--digital bg--primary" data-color="initial">
      <div class="container full-height">
        <div class="row full-height items-center">
          <div class="col-lg-8 col-10">
            <div class="title-wrap h1 mb-1 mb-2--lg" >
              <p data-swiper-parallax="-200"><span class="accent">Мы не будем ждать,</span> пока вы <br>научитесь ценить то, что мы&nbsp;делаем.</p>
              <p data-swiper-parallax="-250">Это вы&nbsp;ждете, пока у&nbsp;нас появится <br>время на&nbsp;ваш проект</p>
            </div>
            <div class="button-wrap" data-swiper-parallax="-300">
              <button class="button button-order red-button">Заказать</button>
            </div>
          </div>
          <div class="col-lg-4 col-2 full-height relative">
            <div class="s-hero__image-container flex items-end " data-swiper-parallax="-400">
              <img src="~images/head/timer.png" alt="slide1" class="display-block image-initial--md">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide s-hero__slide s-hero__slide--high bg--red" data-color="#fff">
      <div class="container full-height">
        <div class="row full-height items-center">
          <div class="col-lg-8 col-10">
            <div class="title-wrap h1 mb-1 mb-2--lg">
              <p data-swiper-parallax="-200">Меняем мир вокруг, выводя <span>бизнес</span> <br>наших клиентов <span>на новый
                  уровень</span></p>
              <div data-swiper-parallax="-250" class="subtitle color--white">
                <p class="p_head">За счет впечатляющей упаковки и построения <br>эффективной системы продаж через
                  интернет</p>
              </div>
            </div>
            <div data-swiper-parallax="-300" class="button-wrap">
              <button class="button button-order yellow-button">Заказать</button>
            </div>
          </div>
          <div class="col-lg-4 col-2 full-height relative">
            <div class="s-hero__image-container flex items-end" data-swiper-parallax="-400">
              <img src="~images/head/king.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide s-hero__slide s-hero__slide--marketing bg--darkblue" data-color="#fff">
      <div class="container full-height">
        <div class="row full-height items-center">
          <div class="col-lg-8 col-10">
            <div class="title-wrap h1 mb-1 mb-2--lg">
              <p data-swiper-parallax="-200">Отдел <span>интернет-маркетинга</span> <br>за зарплату маркетолога</p>
              <div data-swiper-parallax="-250" class="subtitle color--white">
                <p class="p_head">Наймите команду специалистов и позвольте <br>комплексный подход в продвижении вашего
                  <br>бизнеса</p>
              </div>
            </div>
            <div data-swiper-parallax="-300" class="button-wrap">
              <button class="button button-order red-button">Заказать</button>
            </div>
          </div>
          <div class="col-2 col-lg-4 full-height relative">
            <div class="s-hero__image-container s-hero__image-container--top flex items-end" data-swiper-parallax="-400">
              <img src="~images/head/team.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="control-wrap">
    <div class="swiper-pagination"></div>
    <div class="control-wrap__arrow-wrap">
      <div class="swiper-button-next js-next"></div>
      <div class="swiper-button-prev js-prev"></div>
    </div>
  </div>
</section>
