<section class="s-needresult bg--primary">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="s-needresult__title-wrap">
          <h2 class="h2">Нужен не просто хороший, <br>а идеальный результат?</h2>
          <div class="s-needresult__subtitle">
            <p class="p_subtitle">Получите консультацию эксперта, чтобы узнать, как за 21 день мы выведем ваш бизнес на
              новый уровень и поможем стать лидером ниши</p>
          </div>
        </div>
        <div class="s-needresult__img-wrap">
          <img src="~images/ganteli.png" alt="">
        </div>
      </div>
    </div>
    <div class="s-needresult__form-wrap">
      <form class="main-form" action="">
        <div class="row justify-content-center">
          <div class="col-10">
            <div class="main-form__title"><span>Свяжитесь с нами прямо сейчас,</span> чтобы начать сотрудничество с
              сильной командой</div>
          </div>
          <div class="col-lg-5">
            <input type="text" placeholder="Ваше имя">
            <input type="tel" placeholder="Ваш телефон">
          </div>
          <div class="col-lg-5">
            <input type="email" placeholder="Ваш Email">
            <input type="submit" class="button button-form" value="Отправить">
          </div>
          <div class="col-lg-10">
            <div class="main-form__check">
              <input id="check-main" type="checkbox" name="check" value="check-main">
              <label for="check-main">Согласен с условиями <a href="" class="check-link">пользовательского
                  соглашения</a></label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
