<section class="s-popular bg--darkblue">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="s-popular__title-wrap">
          <h2 class="h2 color--white">Популярные услуги</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-3 col-md-6 s-popular__item-wrap">
        <a href="">
          <div class="s-popular__item">
            <div class="s-popular__icon-wrap max-768">
              <svg class="inline-svg-icon">
                <use xlink:href="#landing-page"></use>
              </svg>
            </div>
            <div class="s-popular__item-title">
              <h3 class="h3 color--white">Разработка <span>landing-page</span></h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-lg-3 col-md-6 s-popular__item-wrap">
        <a href="">
          <div class="s-popular__item">
            <div class="s-popular__icon-wrap max-768">
              <svg class="inline-svg-icon">
                <use xlink:href="#web-site"></use>
              </svg>
            </div>
            <div class="s-popular__item-title">
              <h3 class="h3 color--white">Разработка <span>корпоративных сайтов</span></h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-lg-3 col-md-6 s-popular__item-wrap">
        <a href="">
          <div class="s-popular__item">
            <div class="s-popular__icon-wrap max-768">
              <svg class="inline-svg-icon">
                <use xlink:href="#shopping-basket"></use>
              </svg>
            </div>
            <div class="s-popular__item-title">
              <h3 class="h3 color--white">Разработка <span>интернет-магазинов</span></h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-lg-3 col-md-6 s-popular__item-wrap">
        <a href="">
          <div class="s-popular__item">
            <div class="s-popular__icon-wrap max-768">
              <svg class="inline-svg-icon">
                <use xlink:href="#technical-support"></use>
              </svg>
            </div>
            <div class="s-popular__item-title">
              <h3 class="h3 color--white">Техническая поддержка <span>сайтов</span></h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-lg-3 col-md-6 s-popular__item-wrap">
        <a href="">
          <div class="s-popular__item">
            <div class="s-popular__icon-wrap max-768">
              <svg class="inline-svg-icon">
                <use xlink:href="#megaphone"></use>
              </svg>
            </div>
            <div class="s-popular__item-title">
              <h3 class="h3 color--white">Контекстная <span>реклама</span></h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-lg-3 col-md-6 s-popular__item-wrap">
        <a href="">
          <div class="s-popular__item">
            <div class="s-popular__icon-wrap max-768">
              <svg class="inline-svg-icon">
                <use xlink:href="#target"></use>
              </svg>
            </div>
            <div class="s-popular__item-title">
              <h3 class="h3 color--white">Таргетированная <span>реклама</span></h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-lg-3 col-md-6 s-popular__item-wrap">
        <a href="">
          <div class="s-popular__item">
            <div class="s-popular__icon-wrap max-768">
              <svg class="inline-svg-icon">
                <use xlink:href="#megaphone"></use>
              </svg>
            </div>
            <div class="s-popular__item-title">
              <h3 class="h3 color--white">Web-дизайн</span></h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-lg-3 col-md-6 s-popular__item-wrap">
        <a href="">
          <div class="s-popular__item">
            <div class="s-popular__icon-wrap max-768">
              <svg class="inline-svg-icon">
                <use xlink:href="#presentation"></use>
              </svg>
            </div>
            <div class="s-popular__item-title">
              <h3 class="h3 color--white">Создание <span>презентаций</span></h3>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>