<section class="s-reviews">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="s-reviews__title-wrap">
          <h2 class="h2">Кейсы и отзывы</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="s-reviews__content-wrap">
          <div class="s-reviews__item">
            <a href="">
              <img src="~images/projects/name-project-1.jpg" alt="">
            </a>
          </div>
          <div class="s-reviews__item">
            <a href="">
              <img src="~images/projects/name-progect-2.png" alt="">
            </a>
          </div>
          <div class="s-reviews__item">
            <a href="">
              <img src="~images/projects/name-project-1.jpg" alt="">
            </a>
          </div>
          <div class="s-reviews__item">
            <a href="">
              <img src="~images/projects/name-progect-2.png" alt="">
            </a>
          </div>
          <div class="s-reviews__item">
            <a href="">
              <img src="~images/projects/name-project-1.jpg" alt="">
            </a>
          </div>
          <div class="s-reviews__item">
            <a href="">
              <img src="~images/projects/name-progect-2.png" alt="">
            </a>
          </div>
        </div>
        <div class="s-reviews__button-wrap text--center min-768">
          <a href="" class="button button-about">Больше работ</a>
        </div>
      </div>
    </div>
  </div>
</section>