button{
  display: inline-block;
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}
.btn-link{
  @extend button;
  padding: 0;
  text-decoration: underline;
  color: inherit;
}
.button {
  @extend button;
  position: relative;
  transition: all 0.35s ease;
  &.button-order {
    padding: 17px 130px 17px 35px;
    font-size: 24px;
    text-transform: uppercase;
    z-index: 1;
    @include media(576) {
      padding: 17px 100px 17px 35px;
    }
    &:before {
      content: "";
      position: absolute;
      right: 30px;
      top: 50%;
      margin-top: -4px;
      background: url(~images/icon/arrow.png);
      width: 37px;
      height: 8px;
      z-index: 10;
    }
  }
  &.button-about {
    padding: 6px 34px;
    border: 1px solid #ff4b44;
    text-align: center;
    transition: all 0.35s ease;
  }
  &.button-form {
    width: 100%;
    padding: 14px 0;
    text-align: center;
    background-color: #ff4b44;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    z-index: 1;
  }
  &.button-subscription {
    padding: 0;
    height: 50px;
    background-color: #ff4b44;
    font-size: 18px;
    color: #fff;
    z-index: 1;
    @include media(1200) {
      width: 100%;
      max-width: 290px;
      text-align: center;
    }
    @include media(768) {
      max-width: 320px;
    }
  }
  &.red-button {
    background-color: #ff4b44;
    color: #fff;
  }
  &.yellow-button {
    background-color: #ffe117;
    color: #111;
    &:before {
      background: url(~images/icon/arrow-dark.png);
    }
  }
}
