input {
  width: 100%;
  background: none;
  border: none;
  height: 64px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  padding-left: 34px;
  font-size: 18px;
  font-style: italic;
  color: #575757;
  @include media(992) {
    padding-left: 30px;
  }
  @include media(768) {
    padding-left: 25px;
  }
  @include media(576) {
    padding-left: 20px;
  }
  &::-webkit-input-placeholder {
    color: #575757;
  }
  &::-moz-placeholder {
    color: #575757;
  }
  &:-ms-input-placeholder {
    color: #575757;
  }
  &:-moz-placeholder {
    color: #575757;
  }
}

input[type="submit"] {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

label {
  position: relative;
}
input[type="checkbox"] {
  display: none;
}
label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: -30px;
  top: 0;
  bottom: 1px;
  background: none;
  cursor: pointer;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 3px;
}
input[type="checkbox"]:checked + label:before {
  content: "";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  color: #f3f3f3;
  text-align: center;
  line-height: 15px;
  background: url(~images/icon/check.png);
}

.check-link {
  text-decoration: underline;
  transition: all 0.35s ease;
  &:hover {
    text-decoration: none;
  }
}

.main-form {
  padding: 20px 0;
  @include media(768) {
    padding: 0;
  }
  input {
    margin-bottom: 15px;
  }
  &__title {
    font-size: 24px;
    margin-bottom: 45px;
    @include media(768) {
      text-align: center;
    }
    @include media(576) {
      font-size: 18px;
      margin-bottom: 25px;
    }
    span {
      font-weight: 800;
    }
  }
  &__check {
    font-size: 12px;
    margin-top: 5px;
    padding-left: 30px;
  }
}

.subscription-form {
  &__check {
    font-size: 12px;
    margin-top: 10px;
    padding-left: 30px;
  }
  input[type="email"] {
    height: 50px;
    border: 1px solid #c5c5c5;
    box-sizing: border-box;
    margin-bottom: 14px;
    @include media(1200) {
      max-width: 290px;
    }
  }
  label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: -30px;
    top: 0;
    bottom: 1px;
    background: none;
    cursor: pointer;
    border: 1px solid #c5c5c5;
    box-sizing: border-box;
    border-radius: 3px;
  }
  input[type="checkbox"]:checked + label:before {
    content: "";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
    background: url(~images/icon/check-footer.png);
  }
}
