.images-slider {
  max-width: 1004px;
  position: relative;
  margin: 0 auto;
  &.has-nav {
    padding-left: 44px;
    padding-right: 44px;
  }
  &__item {
    display: block;
    padding: 0 15px;
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
    }
  }
}
