.js-hero-slider {
  .control-wrap {
    position: absolute;
    width: 200px;
    bottom: 120px;
    left: calc(60% - 200px);
    @include media(1200) {
      bottom: 115px;
    }
    @include media(992) {
      left: calc(60% - 150px);
    }
    @include media(768) {
      left: calc(50% - 100px);
      bottom: 30px;
    }
    @include media(576) {
      bottom: 25px;
    }

    /*
    
    position: absolute;
    width: 200px;
    bottom: 120px;
    left: calc(70% - 180px);
    outline: 1px solid #111;

    */

    &__arrow-wrap {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 2px;
    }
    .swiper-pagination-fraction {
      color: #fff;
      font-size: 24px;
      .swiper-pagination-current {
        font-size: 35px;
      }
    }
  }
  .swiper-button-next {
    background: none;
    width: 1px;
    height: 1px;
    &.js-next {
      position: relative;
      display: inline-block;
      &:before {
        content: "";
        position: absolute;
        top: 10px;
        left: 15px;
        background: url(~images/icon/arrow.png);
        width: 37px;
        height: 8px;
        z-index: 10;
      }
    }
  }
  .swiper-button-prev {
    background: none;
    width: 1px;
    height: 1px;
    &.js-prev {
      position: relative;
      display: inline-block;
      &:before {
        content: "";
        position: absolute;
        top: 10px;
        right: 15px;
        background: url(~images/icon/arrow.png);
        width: 37px;
        height: 8px;
        z-index: 10;
        transform: rotate(180deg);
      }
    }
  }
}
