.footer {
  padding: 35px 0 15px 0;
  .row-inner {
    padding: 0 15px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__content-block {
    @include media(992) {
      width: 50%;
    }
    @include media(768) {
      width: 100%;
      text-align: center;
    }
  }
  &__logo-wrap {
    @include media(992) {
      margin-bottom: 20px;
    }
  }
  &__social-list {
    display: flex;
    align-items: center !important;
    margin-top: 20px;
    @include media(768) {
      justify-content: center;
    }
    li {
      position: relative;
      display: block;
      margin-left: 24px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .social-icon {
    width: 30px;
    height: 30px;
    &.facebook {
      height: 20px;
    }
    &.instagram {
      height: 20px;
    }
  }
  &__contact-list {
    @include media(768) {
      margin-bottom: 20px;
    }
    br {
      display: none;
      @include media(768) {
        display: inline-block;
      }
    }
    span {
      display: block;
    }

    li {
      position: relative;
      display: block;
      margin-top: 14px;
      padding-left: 25px;
      &:first-child {
        margin-top: 0;
      }
      @include media(768) {
        padding-left: 0;
        display: inline-block;
      }
    }
  }
  .contact-icon {
    width: 30px;
    height: 20px;
    position: absolute;
    left: -10px;
    top: 4px;
    @include media(768) {
      left: -30px;
    }
  }
  &__menu-list {
    @include media(768) {
      margin-bottom: 20px;
    }
    li {
      position: relative;
      display: block;
      margin-top: 5px;
      text-transform: uppercase;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  &__form {
    width: 100%;
    max-width: 270px;
    @include media(768) {
      margin: 0 auto;
      max-width: 320px;
    }
  }
  .title-form {
    font-size: 16px;
    margin-bottom: 14px;
    br {
      display: inline-block;
      @include media(400) {
        display: none;
      }
    }
  }
  input[type="email"] {
    height: 50px;
    border: 1px solid #c5c5c5;
    box-sizing: border-box;
    margin-bottom: 14px;
  }
  .form-check {
    position: relative;
    font-size: 12px;
    margin-top: 10px;
    text-align: right;
    z-index: 5;
    a {
      text-decoration: underline;
      transition: all 0.35s ease;
      &:hover {
        text-decoration: none;
      }
    }
    label:before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      position: absolute;
      left: -30px;
      top: 0;
      bottom: 1px;
      background: none;
      cursor: pointer;
      border: 1px solid #c5c5c5;
      box-sizing: border-box;
      border-radius: 3px;
      @include media(350) {
        left: -20px;
      }
    }
    input[type="checkbox"]:checked + label:before {
      content: "";
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      font-size: 15px;
      color: #f3f3f3;
      text-align: center;
      line-height: 15px;
      background: url(~images/icon/check-footer.png);
    }
  }
  &__bottom {
    position: relative;
    display: flex;
    margin-top: -20px;
    font-size: 15px;
    z-index: 1;
    @include media(992) {
      display: block;
    }
    @include media(768) {
      margin-top: 20px;
      text-align: center;
    }
    li {
      margin-left: 60px;
      &:first-child {
        margin-left: 0;
      }
      @include media(992) {
        margin-left: 0;
        line-height: 1.2;
      }
    }
  }
}
