<div class="footer">
  <div class="container">
    <div class="row row-inner">
      <div class="footer__content-block">
        <div class="footer__logo-wrap">
          <img src="~images/logo/logo.png" alt="">
          <ul class="footer__social-list">
            <li><a href="">
                <svg class="inline-svg-icon social-icon vk">
                  <use xlink:href="#vk"></use>
                </svg>
              </a></li>
            <li><a href="">
                <svg class="inline-svg-icon social-icon facebook">
                  <use xlink:href="#facebook"></use>
                </svg>
              </a></li>
            <li><a href="">
                <svg class="inline-svg-icon social-icon behance">
                  <use xlink:href="#behance"></use>
                </svg>
              </a></li>
            <li><a href="">
                <svg class="inline-svg-icon social-icon instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
              </a></li>
          </ul>
        </div>
      </div>
      <div class="footer__content-block">
        <ul class="footer__contact-list">
          <li>
            <svg class="inline-svg-icon contact-icon vk">
              <use xlink:href="#phone-call"></use>
            </svg>
            <a href="">+7(495)777-4-222</a></li><br>
          <li>
            <svg class="inline-svg-icon contact-icon vk">
              <use xlink:href="#placeholder"></use>
            </svg>
            г. Москва, ул.Суворовская 19/9 <span>БЦ "Галатекс"</span></li><br>
          <li>
            <svg class="inline-svg-icon contact-icon vk">
              <use xlink:href="#mail"></use>
            </svg>
            <a href="">landing@ayeps.com</a></li>
        </ul>
      </div>
      <div class="footer__content-block">
        <ul class="footer__menu-list">
          <li><a href="">О нас</a></li>
          <li><a href="">Контакты</a></li>
          <li><a href="">Разработка</a></li>
          <li><a href="">Продвижение</a></li>
          <li><a href="">Дизайн</a></li>
        </ul>
      </div>
      <div class="footer__content-block">
        <form class="footer__form" action="">
          <div class="title-form">Эксклюзивные инструкции и фишки <br>для успешного продвижения в интернете, <br>о
            которых не знают ваши конкуренты</div>
          <input type="email" placeholder="Ваш Email">
          <input type="submit" class="button button-subscription" value="Подписаться на рассылку">
          <div class="form-check">
            <input id="subscription" type="checkbox" name="subscriptionk" value="subscription">
            <label for="subscription">Согласен с условиями <a href="" class="check-link">пользовательского
                соглашения</a></label>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="footer__bottom">
          <li>2009-2019 (T) AYEP'S © OOO “Ластен Корп”</li>
          <li><a href="">Пользовательское соглашение</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>