<header class="header js-page-header">
  <div class="container">
    <div class="flex items-center justify-between">
      <div class="header__logo">
        <svg fill="currentColor" width="137" height="70">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ayeps-logo"></use>
        </svg>
      </div>
      <div class="header__phone-box text--right">
        <p><span class="text-icon mr-05"><svg fill="currentColor" width="24" height="24">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#phone-icon"></use>
        </svg></span> <a href="tel:+74957774222" rel="nofollow">+7(495)777-4-222</a></p>
        <p><button class="btn-link js-modal-open" data-target="#callback-action">Заказать звонок</button></p>
      </div>
    </div>
  </div>
</header>
