.s-about {
  padding: 205px 0 108px 0;
  @include media(1200) {
    padding: 170px 0 90px 0;
  }
  @include media(768) {
    padding: 170px 0 70px 0;
  }
  @include media(576) {
    padding: 170px 0 50px 0;
  }
  &__title-wrap {
    padding-top: 50px;
    padding-right: 15px;
    text-align: right;
    @include media(768) {
      text-align: center;
      margin-bottom: 50px;
    }
  }
  &__darts-list {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    @include media(768) {
      left: 0;
      right: -150px;
      top: 120px;
    }
    @include media(720) {
      right: -100px;
    }
    @include media(576) {
      top: 70px;
      right: -30px;
    }
    img {
      max-width: 800px;
      @include media(768) {
        width: 350px;
        transform: rotate(-90deg);
      }
      @include media(576) {
        width: 250px;
      }
    }
    li {
      position: absolute;
      bottom: -395px;
      right: 130px;
      @include media(1200) {
        bottom: -480px;
      }
      @include media(992) {
        bottom: -515px;
      }
      @include media(768) {
        bottom: 0;
        right: 0;
      }
    }
  }
  &__content-wrap {
    p {
      margin-bottom: 27px;
      @include media(768) {
        margin-bottom: 17px;
      }
    }
    br {
      display: inline-block;
      @include media(768) {
        display: none;
      }
    }
  }
  &__button-wrap {
    margin-top: -5px;
    @include media(768) {
      text-align: center;
      margin-top: 0;
      padding-top: 5px;
    }
  }
  .h2 {
    &:before {
      content: "";
      position: absolute;
      background-color: #ff4b44;
      width: 6px;
      height: 50px;
      top: -50px;
      right: 5px;
      @include media(768) {
        right: 50%;
        margin-right: -6px;
        top: -30px;
        height: 30px;
      }
      @include media(576) {
        top: -20px;
        height: 20px;
      }
    }
    &:after {
      content: "";
      position: absolute;
      background-color: #ff4b44;
      width: 6px;
      height: 145px;
      bottom: -150px;
      right: 5px;
      @include media(768) {
        right: 50%;
        margin-right: -6px;
        height: 30px;
        bottom: -35px;
      }
      @include media(576) {
        height: 20px;
        bottom: -25px;
      }
    }
  }
}
