.s-execution {
  padding: 82px 0;
  @include media(992) {
    padding: 50px 0;
  }
  @include media(768) {
    padding: 35px 0;
  }
  &__title-wrap {
    padding-top: 65px;
    @include media(992) {
      text-align: center;
    }
    @include media(768) {
      padding-top: 35px;
    }
  }
  &__logo-block {
    position: relative;
    height: 370px;
    display: flex;
    flex-wrap: wrap;
    @include media(992) {
      height: 320px;
    }
    @include media(768) {
      margin-top: 60px;
      height: 280px;
    }
    @include media(400) {
      height: 205px;
    }
    &:before {
      content: "";
      position: absolute;
      width: 151px;
      height: 151px;
      content: "";
      border-color: #ff4b44;
      border-style: solid;
      right: 0;
      top: 0;
      border-width: 1px 1px 0 0;
    }
    &:after {
      content: "";
      position: absolute;
      width: 151px;
      height: 151px;
      content: "";
      border-color: #ff4b44;
      border-style: solid;
      left: 0;
      bottom: 0;
      border-width: 0 0 1px 1px;
    }
  }
  &__border-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:before {
      content: "";
      position: absolute;
      width: 150px;
      height: 150px;
      content: "";
      border-color: #ff4b44;
      border-style: solid;
      right: 0;
      bottom: 0;
      border-width: 0 1px 1px 0;
    }
    &:after {
      content: "";
      position: absolute;
      width: 150px;
      height: 150px;
      content: "";
      border-color: #ff4b44;
      border-style: solid;
      left: 0;
      top: 0;
      border-width: 1px 0 0 1px;
    }
  }
  &__logo-item {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center !important;
    justify-content: center;
    z-index: 100;
    @include media(1200) {
      padding: 15px;
    }
    &:nth-child(2) {
      @include media(1200) {
        padding: 30px;
      }
    }
  }
  &__logo-link {
    filter: grayscale(1);
    transition: all 0.35s ease;
    &:hover {
      filter: grayscale(0);
    }
  }
  &__button-item {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    display: inherit;
    @include media(576) {
      top: calc(50% - 18px);
      left: calc(50% - 18px);
    }
    span {
      position: relative;
      width: 64px;
      height: 64px;
      background-color: #ff4b44;
      border-radius: 50%;
      @include media(576) {
        width: 36px;
        height: 36px;
      }
      &:before {
        content: "";
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 4px);
        width: 12px;
        height: 20px;
        background: url(~images/icon/triangle.png);
      }
    }
  }
  .h2 {
    font-size: 40px;
    text-transform: uppercase;
    @include media(1200) {
      font-size: 35px;
    }
    @include media(768) {
      font-size: 30px;
    }
    @include media(576) {
      font-size: 24px;
    }
    &:before {
      content: "";
      position: absolute;
      background-color: #ff4b44;
      width: 6px;
      height: 50px;
      top: -65px;
      left: 62px;
      @include media(992) {
        left: calc(50% - 3px);
      }
      @include media(768) {
        top: -35px;
        height: 30px;
      }
      @include media(576) {
        top: -25px;
        height: 20px;
      }
    }
    &:after {
      content: "";
      position: absolute;
      background-color: #ff4b44;
      width: 6px;
      height: 170px;
      bottom: -185px;
      left: 62px;
      @include media(1200) {
        height: 100px;
        bottom: -115px;
      }
      @include media(992) {
        left: calc(50% - 3px);
        height: 50px;
        bottom: -65px;
      }
      @include media(768) {
        bottom: -35px;
        height: 30px;
      }
      @include media(576) {
        bottom: -25px;
        height: 20px;
      }
    }
  }
}
