.s-head {
  position: relative;
  height: auto;
  min-height: 570px;
  overflow: hidden;
}
.full-height{
  height: 100%;
}
//.head-item {
//  position: relative;
//  width: 100%;
//  height: 100vh;
//  overflow: hidden;
//  //@include media(1200) {
//  //  height: auto;
//  //  min-height: 1px;
//  //  padding: 250px 0 120px 0 !important;
//  //}
//  //@include media(992) {
//  //  padding: 220px 0 120px 0 !important;
//  //}
//  //@include media(768) {
//  //  padding: 150px 0 100px 0 !important;
//  //}
//  //@include media(576) {
//  //  padding: 122px 0 90px 0 !important;
//  //}
//  @include minMedia(992){
//    height: 88vh;
//  }
//  .title-wrap {
//    margin-top: -25px;
//    min-height: 320px;
//    @include media(768) {
//      padding-bottom: 30px;
//      padding-right: 50px;
//    }
//    @include media(576) {
//      padding-bottom: 20px;
//      padding-right: 120px;
//    }
//    @include media(480) {
//      padding-bottom: 20px;
//      padding-right: 70px;
//    }
//  }
//  .button-wrap {
//    margin-top: 0;
//  }
//  br {
//    display: inline-block;
//    @include media(768) {
//      display: none;
//    }
//    &.separator {
//      @include media(768) {
//        display: inline-block;
//      }
//    }
//  }
//}

//// =============================================== //
//
//.digital-item {
//  padding-top: 285px;
//  .img-wrap {
//    position: absolute;
//    bottom:0;
//    right: 72px;
//    @include media(1200) {
//      width: 250px;
//      right: -50px;
//    }
//    @include media(992) {
//      width: 230px;
//      right: -120px;
//    }
//    @include media(768) {
//      width: 210px;
//      right: -150px;
//    }
//    @include media(576) {
//      width: 170px;
//      right: -83px;
//    }
//
//    img{
//      display: block;
//    }
//  }
//  span {
//    color: #fff;
//  }
//  &:before {
//    content: "Digital";
//    position: absolute;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    display: flex;
//    justify-content: center;
//    align-items: center !important;
//    font-size: 450px;
//    font-weight: 800;
//    color: rgba(255, 255, 255, 0.1);
//    padding-top: 300px;
//    overflow: hidden;
//    @include media(1200) {
//      font-size: 400px;
//    }
//    @include media(992) {
//      font-size: 370px;
//    }
//    @include media(768) {
//      display: none;
//    }
//  }
//}
//
//// =============================================== //
//
//.highlevel-item {
//  padding-top: 293px;
//  .img-wrap {
//    position: absolute;
//    top: -120px;
//    right: 70px;
//    @include media(1200) {
//      width: 250px;
//      top: -140px;
//      right: -50px;
//    }
//    @include media(992) {
//      width: 230px;
//      top: -85px;
//      right: -120px;
//    }
//    @include media(768) {
//      width: 210px;
//      top: -60px;
//      right: -170px;
//    }
//    @include media(567) {
//      width: 160px;
//      top: 55px;
//      right: -85px;
//    }
//    @include media(360) {
//      top: 105px;
//    }
//    @include media(325) {
//      top: 132px;
//    }
//    img{
//      display: block;
//    }
//  }
//  span {
//    color: theme_text-color("yellow");
//  }
//  .subtitle {
//    margin-top: 30px;
//  }
//  &:before {
//    content: "Highlevel";
//    position: absolute;
//    top: -10px;
//    left: -45px;
//    width: 100%;
//    height: 100%;
//    display: flex;
//    justify-content: center;
//    align-items: center !important;
//    font-size: 450px;
//    font-weight: 800;
//    color: rgba(255, 255, 255, 0.1);
//    padding-top: 300px;
//    overflow: hidden;
//    @include media(1200) {
//      font-size: 400px;
//    }
//    @include media(992) {
//      font-size: 370px;
//    }
//    @include media(768) {
//      display: none;
//    }
//  }
//}
//
//// =============================================== //
//
//.marketing-item {
//  color: #ffe117;
//  padding-top: 282px;
//  .img-wrap {
//    position: absolute;
//    top: -283px;
//    right: 78px;
//    @include media(1200) {
//      width: 350px;
//      right: -20px;
//    }
//    @include media(992) {
//      width: 320px;
//      top: -250px;
//      right: -100px;
//    }
//    @include media(768) {
//      width: 280px;
//      top: -175px;
//      right: -170px;
//    }
//    @include media(576) {
//      width: 240px;
//      top: -115px;
//      right: -145px;
//    }
//    @include media(360) {
//      top: -85px;
//    }
//    @include media(325) {
//      top: -70px;
//    }
//
//    img{
//      display: block;
//    }
//  }
//  span {
//    color: theme_text-color("white");
//  }
//  .subtitle {
//    margin-top: 30px;
//  }
//  &:before {
//    content: "Marketing";
//    position: absolute;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    display: flex;
//    justify-content: center;
//    align-items: center !important;
//    font-size: 450px;
//    font-weight: 800;
//    color: rgba(255, 255, 255, 0.1);
//    padding-top: 300px;
//    overflow: hidden;
//    @include media(1200) {
//      font-size: 400px;
//    }
//    @include media(992) {
//      font-size: 370px;
//    }
//    @include media(768) {
//      display: none;
//    }
//  }
//}
