.s-needresult {
  padding: 100px 0 10px 0;
  @include media(768) {
    padding: 100px 0 50px 0;
  }
  @include media(576) {
    padding: 70px 0 45px 0;
  }
  &__title-wrap {
    @include media(768) {
      text-align: center;
    }
  }
  &__subtitle {
    max-width: 470px;
    margin-left: 135px;
    margin-top: 15px;
    @include media(768) {
      max-width: 100%;
      margin-left: 0;
      margin-top: 75px;
    }
    @include media(576) {
      margin-top: 55px;
    }
  }
  &__img-wrap {
    position: absolute;
    top: -185px;
    right: -20px;
    z-index: 1;
    @include media(1200) {
      right: -230px;
    }
    @include media(992) {
      width: 400px;
      top: -200px;
      right: -270px;
    }
    @include media(768) {
      width: 350px;
      top: -200px;
      right: -270px;
    }
    @include media(576) {
      width: 250px;
      top: -200px;
      right: -120px;
    }
    @include media(480) {
      width: 165px;
      top: -170px;
      right: -50px;
    }
  }
  &__form-wrap {
    margin-top: 67px;
    @include media(992) {
      margin-top: 55px;
    }
    @include media(768) {
      margin-top: 35px;
    }
    @include media(576) {
      margin-top: 25px;
    }
  }
  .h2 {
    line-height: 1.2;
    &:before {
      content: "";
      position: absolute;
      background-color: #ff4b44;
      width: 6px;
      height: 50px;
      top: -60px;
      left: 95px;
      @include media(768) {
        left: 50%;
        margin-left: -3px;
        height: 30px;
        top: -35px;
      }
      @include media(576) {
        height: 20px;
        top: -25px;
      }
    }
    &:after {
      content: "";
      position: absolute;
      background-color: #ff4b44;
      width: 6px;
      height: 92px;
      bottom: -110px;
      left: 95px;
      @include media(768) {
        left: 50%;
        margin-left: -3px;
        height: 30px;
        bottom: -35px;
      }
      @include media(576) {
        height: 20px;
        bottom: -25px;
      }
    }
  }
}
