.s-popular {
  padding: 120px 0 98px 0;
  @include media(768) {
    padding: 100px 0 77px 0;
  }
  @include media(576) {
    padding: 70px 0 77px 0;
  }
  &__title-wrap {
    margin-bottom: 95px;
    @include media(768) {
      text-align: center;
    }
    @include media(576) {
      margin-bottom: 60px;
    }
  }
  &__item-wrap {
    padding: 15px;
    padding-bottom: 30px;
    @include media(768) {
      padding: 15px;
      padding-top: 0;
    }
    &:last-child {
      @include media(768) {
        padding-bottom: 0;
      }
    }
  }
  &__item {
    position: relative;
    width: 100%;
    height: 255px;
    border: 1px solid #fff;
    text-align: center;
    padding-top: 50px;
    @include media(768) {
      padding-top: 0;
      height: auto;
    }
    &:before,
    &:after{
      content: "";
      position: absolute;
      width: 151px;
      height: 151px;
      border-color: #ff4b44;
      border-style: solid;
      transition: all 0.5s ease;
      transform: scale(0);
      @include media(768) {
        width: 25%;
        height: 50px;
      }
    }
    &:before {
      transform-origin: top right;
      right: -2px;
      top: -2px;
      border-width: 4px 4px 0 0;
    }
    &:after {
      transform-origin: bottom left;
      left: -2px;
      bottom: -2px;
      border-width: 0 0 4px 4px;
    }
    &:hover {
      &:before,
      &:after {
        transform: scale(1);
      }
    }
  }
  &__icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center !important;
    width: 100%;
    height: 80px;
  }
  &__item-title {
    display: flex;
    justify-content: center;
    align-items: center !important;
    width: 100%;
    height: 60px;
    margin-top: 22px;
    @include media(768) {
      margin-top: 0;
      height: 120px;
    }
    @include media(768) {
      height: 90px;
    }
    span {
      display: block;
    }
  }
  .inline-svg-icon {
    width: 55px;
  }
  .h2 {
    &:before {
      content: "";
      position: absolute;
      background-color: #ff4b44;
      width: 6px;
      height: 50px;
      top: -50px;
      left: 95px;
      @include media(768) {
        left: 50%;
        margin-left: -3px;
      }
      @include media(576) {
        height: 20px;
        top: -20px;
      }
    }
    &:after {
      content: "";
      position: absolute;
      background-color: #ff4b44;
      width: 6px;
      height: 50px;
      bottom: -55px;
      left: 95px;
      @include media(768) {
        left: 50%;
        margin-left: -3px;
      }
      @include media(576) {
        height: 20px;
        bottom: -25px;
      }
    }
  }
}
