.s-reviews {
  padding: 175px 0 140px 0;
  @include media(768) {
    padding: 70px 0 77px 0;
  }
  @include media(576) {
    padding: 70px 0 50px 0;
  }
  &__title-wrap {
    margin-bottom: 90px;
    @include media(768) {
      text-align: center;
    }
    @include media(576) {
      margin-bottom: 60px;
    }
  }
  &__content-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    width: calc(33.33% - 4px);
    height: auto;
    margin-bottom: 0;
    @include media(768) {
      width: calc(50% - 3px);
    }
  }
  &__button-wrap {
    margin-top: 50px;
    @include media(576) {
      margin-top: 28px;
    }
  }
  .h2 {
    &:before {
      content: "";
      position: absolute;
      background-color: #ff4b44;
      width: 6px;
      height: 50px;
      top: -55px;
      left: 95px;
      @include media(768) {
        left: 50%;
        margin-left: -3px;
        height: 30px;
        top: -35px;
      }
      @include media(576) {
        height: 20px;
        top: -20px;
      }
    }
    &:after {
      content: "";
      position: absolute;
      background-color: #ff4b44;
      width: 6px;
      height: 50px;
      bottom: -55px;
      left: 95px;
      @include media(768) {
        left: 50%;
        margin-left: -3px;
        height: 30px;
        bottom: -35px;
      }
      @include media(576) {
        height: 20px;
        bottom: -25px;
      }
    }
  }
}
