.s-hero{
  position: relative;
  &__slide{
    @include minMedia(992){
      height: 88vh;
    }
    &:before{
      font-size: 46vmin;
      line-height: 1;
      color: rgba(#fff, 0.1);
      font-weight: 800;
      position: absolute;
      bottom: 2rem;
      left:0;
      right:0;
      text-align: center;
    }
    &--digital{
      &:before{
        content: 'Digital';
      }
    }
    &--high{
      &:before{
        content: 'Highlevel';
      }
    }
    &--marketing{
      &:before{
        content: 'Marketing';
      }
    }
  }
  &__image-container{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: $grid-col-gap;
    right: 0;
    top: 120px;
    img{
      max-height: 100%;
    }
    &--top{
      top: 0;
    }
  }
}
