// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Alegreya Sans", sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

// Bootstrap Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Bootstrap container width
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
) !default;

// Bootstrap columns count
$grid-columns: 12 !default;
// Bootstrap space between columns
$grid-gutter-width-base: 30px !default;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
) !default;

// Grid column gap
// Column padding-left-right, Row margin-left-right,
// container-fluid padding-left-right, Container padding-left-right
$grid-col-gap: 15px;

$base-font-size: 16px !default;

$font-weight: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 600,
  "extrabold": 800
);

$brand: #fd5957 !default;

$text-color: (
  "primary": #343434,
  "secondary": #8b92ad,
  "accent": $brand,
  "light-gray": #767c93,
  "white": #fff,
  "footer": #6c769a,
  "header": #76001d,
  "error": red,
  "yellow": #ffe117
) !default;

$theme-color: (
  "primary": #ffe117,
  "body": #fff,
  "brand": $brand,
  "brand-hover": darken($brand, 10%),
  "brand-active": darken($brand, 20%),
  "brand-gradient": #4d8ada,
  "dark-blue": #6056ff,
  "light-blue": #0af,
  "red": #ff4b44,
  "footer": #151b30,
  "footer-delimeter": #242d4b
) !default;
