@import "typography";
* {
  outline: none;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.block-image {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  background: theme_color("body");
}
.section {
  padding: 1em 0;
  @include minMedia(992) {
    padding: 2em 0;
  }
}
.input-error {
  display: none;
}
.pointer {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}
.page-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrap {
  flex: 1;
}

.svg-default {
  vertical-align: middle;
  line-height: 1;
}

// ========================================================== //

.bg--cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// ========================================================== //

.bg {
  &--primary {
    background-color: theme-color("primary");
    .accent{
      color: #fff;
    }
  }
  &--red {
    background-color: theme-color("red");
  }
  &--darkblue {
    background-color: theme-color("dark-blue");
  }
}
