.page-wrap {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content-wrap {
  flex: 1;
}

section {
  position: relative;
  z-index: 1;
}

.next_scroll {
  position: absolute;
  top: -30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}

.clearfix {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.row--clear {
  clear: both;
}

.bg--cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.inline-block {
  display: inline-block;
}

// ======================== GRID SISTEM ========================= //

[class*=" col--"],
[class^="col--"] {
  position: relative;
  min-height: 1px;
  float: left;
  padding: 0 20px;
  @include media(768) {
    padding: 0 15px;
  }
}

.col--20 {
  width: 20%;
}
.col--25 {
  width: 25%;
}
.col--30 {
  width: 30%;
}
.col--33 {
  width: 33.333%;
}
.col--35 {
  width: 35%;
}
.col--40 {
  width: 40%;
}
.col--45 {
  width: 45%;
}
.col--50 {
  width: 50%;
}
.col--55 {
  width: 55%;
}
.col--60 {
  width: 60%;
}
.col--65 {
  width: 65%;
}
.col--66 {
  width: 66.666%;
}
.col--70 {
  width: 70%;
}
.col--75 {
  width: 75%;
}
.col--80 {
  width: 80%;
}
.col--90 {
  width: 90%;
}
.col--100 {
  width: 100%;
  float: none;
  clear: both;
}

.col--50:nth-child(2n + 1) {
  clear: left;
}
.col--33:nth-child(3n + 1) {
  clear: left;
}

// ======================== BLOCK SISTEM ========================= //

.column--inner {
  position: relative;
  padding: 0 5vw;
  max-width: 1400px;
  margin: 0 auto;
  @include media(1300) {
    padding: 0 50px;
  }
  @include media(768) {
    padding: 0 30px;
  }
  @include media(576) {
    padding: 0 20px;
  }
  @include media(400) {
    padding: 0 15px;
  }
}

.column-inner {
  position: relative;
  padding: 0 20px;
  @include media(768) {
    padding: 0 15px;
  }
}

.row--section_top {
  padding: 150px 0;
  @include media(1300) {
    padding: 120px 0;
  }
  @include media(992) {
    padding: 90px 0;
  }
  @include media(768) {
    padding: 70px 0;
  }
  @include media(576) {
    padding: 50px 0;
  }
  @include media(400) {
    padding: 40px 0;
  }
}

.row--section_inner {
  padding: 0 0 150px;
  @include media(1300) {
    padding: 0 0 120px;
  }
  @include media(992) {
    padding: 0 0 90px;
  }
  @include media(768) {
    padding: 0 0 70px;
  }
  @include media(576) {
    padding: 0 0 50px;
  }
  @include media(400) {
    padding: 0 0 40px;
  }
}

// ======================= FLEXBOX ======================= //

.flex-wrap {
  display: flex;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center !important;
}

.align-items-bottom {
  align-items: flex-end !important;
}

// ================= HIDDEN BLOCKS ====================== //

.max-1200 {
  @include media(1200) {
    display: none;
  }
}
.max-992 {
  @include media(992) {
    display: none;
  }
}
.max-768 {
  @include media(768) {
    display: none;
  }
}
.max-576 {
  @include media(576) {
    display: none;
  }
}

.min-576,
.min-768,
.min-992,
.min-1200 {
  display: none;
}
.min-576 {
  @include media(576) {
    display: block;
  }
}
.min-768 {
  @include media(768) {
    display: block;
  }
}
.min-992 {
  @include media(992) {
    display: block;
  }
}
.min-1200 {
  @include media(1200) {
    display: block;
  }
}

// ================= TEXT MODIFIER ====================== //

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
}

.text-secondary {
  color: theme_text_color("secondary");
}

.text-error {
  color: theme_text_color("error");
}

.text-accent {
  color: theme_text_color("accent");
}

// ==================================================== //

// BG COLORS

.bg_green {
  background-color: theme-color("green");
}

.bg_white {
  background-color: theme-color("white");
}

.bg_dark {
  background-color: theme-color("dark");
}

.bg_black {
  background-color: theme-color("black");
}
