// HIDDEN BLOCKS

.max-1200 {
  @include media(1200) {
    display: none;
  }
}
.max-992 {
  @include media(992) {
    display: none;
  }
}
.max-768 {
  @include media(768) {
    display: none;
  }
}
.max-576 {
  @include media(576) {
    display: none;
  }
}

.min-576,
.min-768,
.min-992,
.min-1200 {
  display: none;
}
.min-576 {
  @include media(576) {
    display: block;
  }
}
.min-768 {
  @include media(768) {
    display: block;
  }
}
.min-992 {
  @include media(992) {
    display: block;
  }
}
.min-1200 {
  @include media(1200) {
    display: block;
  }
}
