@font-face {
  font-family: "Alegreya sans";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local("Alegreya sans"), url(~fonts/Alegreyasans/AlegreyaSans-Light.ttf) format("TrueType");
}

@font-face {
  font-family: "Alegreya sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Alegreya sans"), url(~fonts/Alegreyasans/AlegreyaSans-Regular.ttf) format("TrueType");
}

@font-face {
  font-family: "Alegreya sans";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local("Alegreya sans"), url(~fonts/Alegreyasans/AlegreyaSans-Medium.ttf) format("TrueType");
}

@font-face {
  font-family: "Alegreya sans";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local("Alegreya sans"), url(~fonts/Alegreyasans/AlegreyaSans-Bold.ttf) format("TrueType");
}

@font-face {
  font-family: "Alegreya sans";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: local("Alegreya sans"), local("Alegreya sans"),
    url(~fonts/Alegreyasans/AlegreyaSans-ExtraBold.ttf) format("TrueType");
}

// ==================================================== //

html {
  font-size: 18px;
  @include media(768) {
    font-size: 16px;
  }
}
body {
  font-family: $text-font-stack;
  color: theme_text_color("primary");
  line-height: 1.5;
  font-weight: 400;
}
@include placeholderColor(inherit);

.input-error,
.form-error {
  color: theme_text_color("error");
  font-size: 13px;
}

.h1 {
  position: relative;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2;
  @include media(1200) {
    font-size: 45px;
  }
  @include media(992) {
    font-size: 40px;
    line-height: 1.5;
  }
  @include media(768) {
    font-size: 33px;
  }
  @include media(576) {
    font-size: 28px;
  }
}

.h2 {
  position: relative;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.5;
  @include media(1200) {
    font-size: 45px;
  }
  @include media(992) {
    font-size: 35px;
  }
  @include media(768) {
    font-size: 30px;
  }
  @include media(576) {
    font-size: 24px;
  }
}

.h3 {
  position: relative;
  font-size: 24px;
  @include media(1200) {
  }
  @include media(992) {
  }
  @include media(768) {
  }
  @include media(576) {
  }
}

.p_head {
  position: relative;
  font-size: 30px;
  @include media(1200) {
    font-size: 26px;
  }
  @include media(992) {
    font-size: 24px;
  }
  @include media(768) {
  }
  @include media(576) {
    font-size: 18px;
  }
}

.p_subtitle {
  position: relative;
  font-size: 24px;
  @include media(576) {
    font-size: 18px;
  }
}

// ==================================================== //

.color {
  &--white {
    color: theme_text-color("white");
  }
}
